* {
  box-sizing: border-box;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
}

/* risk classes */

.risk-tab {
  overflow: hidden;
  padding-bottom: 30px;
}

/* Style the buttons inside tabs */
.risk-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #929293;
}

.risk-tab button:hover {
  color: black;
  border-bottom: 2px solid #009a46;
  border-image: linear-gradient(to right, #009a46 80%, rgba(0, 0, 0, 0) 80%);
  border-image: linear-gradient(to left, #009a46 95%, rgba(0, 0, 0, 0) 90%);
  border-image-slice: 2;
  font-weight: bold;
}

.risk-tab button.active {
  color: black;
  border-bottom: 2px solid #009a46;
  border-image: linear-gradient(to right, #009a46 80%, rgba(0, 0, 0, 0) 80%);
  border-image: linear-gradient(to left, #009a46 95%, rgba(0, 0, 0, 0) 90%);
  border-image-slice: 2;
  font-weight: bold;
  line-height: 22px;
}

.tabcontent {
  display: none;
  border-top: none;
}

.column {
  float: left;
  padding: 0px;
  margin-right: 0px;
}

.riskmap-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  border-bottom: 0.5px solid #d0d0ce;
  border-left: 0.5px solid #d0d0ce;
  border-image: linear-gradient(to right, #d0d0ce 75%, rgba(0, 0, 0, 0) 90%);
  border-image-slice: 1;
  padding: 5px;
  margin-left: 40px;

}

.risk-block {
  height: 60px;
  width: 16%;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.risk-legend {
  margin-bottom: -20px;
}

.risk-bottom-legend {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.risk-level-0 {
  background: grey;
}

.risk-level-1 {
  background: #B3E3FF;
}

.risk-level-2 {
  background: #83B938;
}

.risk-level-3 {
  background: #FFCA33;
}

.risk-level-4 {
  background: #FF0019;
}

.heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.percentage-text {
  font-weight: 700;
  font-size: 40px;
}

.percentage {
  font-size: 15px;
  vertical-align: super;
}